


.dropdown-item:hover {
  background-color: #666f77;
  color: white;
}

.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
  background-color: #666f77 !important;
  color: #fff !important;
}